body, html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

h1, h2, h3, h4 {
    color: #00488d !important;
}

h1, h2, h3, h4, p, a {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a:hover {
    opacity: 0.7 !important;
}

.book-summary {
    background-color: #0098cc !important;
}

.book-summary .opentracing-logo img {
    height: 33px;
    margin: 15px 12px;
}

.book-summary ul.summary li a, .book-summary ul.summary li.active a {
    font-weight: 700;
    color: white !important;
}

.book-summary ul.summary li.active > a {
    text-decoration: underline;
}
