<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
  <body class="post-template page" itemscope itemtype="http://schema.org/WebPage">
    {% include browser-upgrade.html %}
    <main id="notepad-page-container" class="notepad-page-container {{ page.pageclasses }}" role="main">
      <header class="notepad-page-header">
        {% include header.html %}

        <div class="notepad-page-title row">
          <a id="main-content"></a>
          <div class="small-12 columns">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
              <h5>{{ page.subtitle }}</h5>
            {% endif %}
          </div>
        </div>
      </header>

      <article class="notepad-page-content">
        <div class="article-body">{{ content }}</div>
      </article>
      <div class="cf"></div>
    </main>

    <div class="row">
      <div class="notepad-page-content">
        <h2>Grades</h2>
        {% include grades.html %}
      </div>
    </div>

    {% include jobs.html %}

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
